

DATABASE_URL="postgresql://username:password@localhost:5432/job_portal_db?schema=public"
PORT=3000
NODE_ENV=development
APP_URL=http://localhost:3000
BETTER_AUTH_SECRET=e3JEiwrOclCDQ2ceIET5716pDqGmJdNn
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app


ACCESS_TOKEN_SECRET=EV3ZsACyIK3Q/HsSt9p5/FS1bQEPL5CCcZNlX3FutBw=
REFRESH_TOKEN_SECRET=YHWfVuQ9dVlqB2lf5gBNm3FYf9/0HK/ciDQeypO5TrY=
ACCESS_TOKEN_EXPIRATION=1d
REFRESH_TOKEN_EXPIRATION=7d
BETTER_AUTH_SESSION_TOKEN_EXPIRATION=1d
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=1d
